<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="{{ meta.charset }}">
        <title>Hru</title>
        <meta name="description" content="{{ meta.description }}">
        <link rel="stylesheet" href="game.css">
</head>
<body>
    <div class="loading">
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
        <div class="loading-bar"></div>
    </div>
    <div class="game">
        <div class="header">
            <div class="title">Хрюндель</div>
            <button id="restart" class="restart">restart</button>
        </div>
        <div id="speech"></div>
        <div class="pig" id="pigDiv">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="600px" id="pig" height="400px" viewBox="0 100 600 400" preserveAspectRatio="xMidYMid meet" zoomAndPan="disable">
            <circle id="face" cx="360" cy="290" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke;" r="109.859" fill="#FFC0CB"></circle>
            <g id="nose">
                <ellipse id="e2_ellipse" cx="360" cy="315" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" rx="64.0503" ry="33.5711" fill="#FF69B4"></ellipse>
                <circle id="e8_circle" cx="341" cy="317" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" r="13.4164" fill="purple"></circle>
                <circle id="e9_circle" cx="374" cy="316" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" r="13.4164" fill="purple"></circle>
            </g>
            <g id="left_eye">
                <circle id="e4_circle" cx="328" cy="263" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" r="16.2788" fill="white"></circle>
                <circle id="e7_circle" cx="326" cy="262" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" r="7.81025" fill="black"></circle>
                <circle class="close"  cx="328" cy="263" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 0;" r="16.2788" fill="#FFC0CB"></circle>
            </g>
            <g id="right_eye">
                <ellipse id="e5_ellipse" cx="389" cy="257" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" rx="21" ry="24" fill="white"></ellipse>
                <circle id="e6_circle" cx="385" cy="258" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" r="7.8102496759" fill="black"></circle>
                <ellipse class="close"  cx="389" cy="257" stroke="black" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 0;" rx="21" ry="24" fill="#FFC0CB"></ellipse>
            </g>    
            <polygon stroke="black" id="right_ear" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" points="409 192 481 153 505 220 410 192 409 190" fill="purple"></polygon>
            <polygon stroke="black" id="left_ear" style="stroke-width: 1px; vector-effect: non-scaling-stroke; fill-opacity: 1;" points="194 178 197 265 290 206 264 171 194 176" fill="purple"></polygon>
            <path d="M315,368a97.1609435032,97.1609435032,0,0,0,102,-3" stroke="black" id="mouth" style="stroke-width: 1px; vector-effect: non-scaling-stroke;" fill="#FFC0CB"></path>
            <g xmlns="http://www.w3.org/2000/svg" id="die">
                <line id="e46_line" x1="416" y1="237" x2="381" y2="269" stroke="black" style="stroke-width: 10px; vector-effect: non-scaling-stroke; fill: none;"/>
                <line id="e47_line" x1="336" y1="237" x2="301" y2="270" stroke="black" style="stroke-width: 10px; vector-effect: non-scaling-stroke; fill: none;"/>
                <line id="e48_line" x1="381" y1="237" x2="417" y2="275" stroke="black" style="stroke-width: 10px; vector-effect: non-scaling-stroke; fill: none;"/>
                <line id="e49_line" x1="301" y1="235" x2="337" y2="272" stroke="black" style="stroke-width: 10px; vector-effect: non-scaling-stroke; fill: none;"/>
            </g>    
        </svg>
        </div>
        <div class="bars">
            <div class="bar">
                <p class="bar__title">Энергия</p>
                <p id="energy-value" class="value">-</p>
            </div>
            <div class="bar">
                <p class="bar__title">Настроение</p>
                <p id="mood-value" class="value">-</p>
            </div>
            <div class="bar">
                <p class="bar__title">Насыщенность</p>
                <p id="satiety-value" class="value">-</p>
            </div>
        </div>
    </div>
    <script src="game.js"></script>
</body>
</html>
